<html>
	<head>
		<title>Clara's blog</title>
	</head>
	</body>
		<p>Hi there!</p>
		<p>It works!</p>
</html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Clara's Blog</a></h1>
        </div>

        <div>
            <p>published: 06.23.2018, 16:51</p>
            <h2><a href="">My first test post</a></h2>
            <p>This is a test</p>
        </div>

        <div>
            <p>published: 06.23.2018, 16:51</p>
            <h2><a href="">My second test post</a></h2>
            <p>This is also a test.</p>
        </div>
    </body>
</html>